body {
  /* display: flex;
  flex-flow: nowrap row; */

  /* Color styles */
  --naver-green: #03cf5d;
  --white: #ffffff;
  --sliver: #999999;
  --sliver-light: #dadada;
  --warning-red: #ff1414;
  --silver-dark: #666666;
  --black-alpha10: #000000;
  --black-dark: #333333;
  --black: #121212;

  /* Text-size styles */
  --regular14: 14px;
  --regular12: 12px;
  --bold16: 16px;
  --bold14: 14px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 컴포넌트 */
.textInput {
  input {
    box-sizing: border-box;

    width: 460px;
    height: 48px;
    padding: 14px 14px 13px 14px;
    font-size: var(--regular14);

    border: 1px solid var(--sliver);
    background: var(--white);

    &:focus {
      background: #e9f0fd;
      outline: 1px solid var(--naver-green);
    }
  }
}

button {
  background: var(--naver-green);
  width: 460px;
  height: 56px;
  border: 0;
  font-size: var(--bold16);
  color: var(--white);

  &[disabled] {
    background: var(--sliver);
    color: var(--sliver-light);
  }
}

.keepLogin {
  color: var(--black-dark);
  font-size: var(--regular14);

  input[type='checkbox'] {
    appearance: none;
  }
}

.security {
  /* display: inline-block; */
  color: var(--black);
  font-size: 16px;
  text-decoration: none;
}
